<h4>System Command Editor</h4>

<div class="btn-group">
    <button class="btn" title="Undo" data-bind="enable: hasUndo, click: undo"><i class="fa fa-arrow-left"></i></button>
    <button class="btn" title="Redo" data-bind="enable: hasRedo, click: redo"><i class="fa fa-arrow-right"></i></button>
</div>

<div>
    <p><small>Right-mouse click the section below for available options.</small></p>
    <div class="systemActions dropdown open">
        <table class="dropdown-menu">
            <tbody>
                <tr class="static">
                    <td class="systemcommandeditor_actions">
                        <a href="#" class="fa fa-plus" title="{{ _('Create Command') }}" data-bind="click: function() { $root.createElement(0); }"> C</a>&nbsp;|&nbsp;
                        <a href="#" class="fa fa-plus" title="{{ _('Create Divider') }}" data-bind="click: function() { $root.createDivider(0); }"> D</a>
                    </td>
                    <td></td>
                </tr>
            <!-- ko foreach: systemActions -->
                <!-- ko if: action.startsWith("divider") -->
                <tr>
                    <td>
                        <div class="divider"></div>
                        <div data-bind="template: 'systemcommandeditor_actions'"></div>
                    </td>
                    <td><a href="#" class="fa fa-trash-o" title="Delete" data-bind="click: function() { $root.deleteElement($index); }"></a></td>
                </tr>
                <!-- /ko -->
                <!-- ko ifnot: action.startsWith("divider") -->
                <tr>
                    <td class="systemcommandeditor_name">
                        <div data-bind="text: name"></div>
                        <div data-bind="template: 'systemcommandeditor_actions'"></div>
                    </td>
                    <td class="systemcommandeditor_actions">
                        <a href="#" class="fa fa-pencil" title="{{ _('Edit') }}" data-bind="click: function() { $root.editElement($index); }"></a>&nbsp;|&nbsp;
                        <a href="#" class="fa fa-trash-o" title="{{ _('Delete') }}" data-bind="click: function() { $root.deleteElement($index); }"></a>
                    </td>
                </tr>
                <!-- /ko -->
            <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>

<script type="text/html" id="systemcommandeditor_actions">
    <a href="#" class="fa fa-plus" title="{{ _('Create Command') }}" data-bind="click: function() { $root.createElement($index); }"> C</a>&nbsp;|&nbsp;
    <a href="#" class="fa fa-plus" title="{{ _('Create Divider') }}" data-bind="click: function() { $root.createDivider($index); }"> D</a>
</script>

<ul id="SystemCommandEditor_systemContextMenu1" class="dropdown-menu" role="menu" style="display:block;position:fixed !important;margin-bottom:5px;">
	<li><a href="#" cmd="createCommand">{{ _('Create Command') }}</a></li>
    <li><a href="#" cmd="createDivider">{{ _('Create Divider') }}</a></li>
</ul>
<ul id="SystemCommandEditor_commandContextMenu" class="dropdown-menu" role="menu" style="display:block;position:fixed !important;margin-bottom:5px;">
	<li><a href="#" cmd="editCommand">{{ _('Edit') }}</a></li>
	<li><a href="#" cmd="deleteCommand">{{ _('Delete') }}</a></li>
</ul>
<ul id="SystemCommandEditor_dividerContextMenu" class="dropdown-menu" role="menu" style="display:block;position:fixed !important;margin-bottom:5px;">
	<li><a href="#" cmd="deleteCommand">{{ _('Delete') }}</a></li>
</ul>