<div id="systemCommandEditorDialog" class="modal hide">
    <div class="modal-header">
        <h3 data-bind="text: title"></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" data-bind="with: element">
            <div class="control-group">
                <label class="control-label">{{ _('Name') }}</label>
                <div class="controls">
                    <input style="width: 97%" data-bind="value: name"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Action') }}</label>
                <div class="controls">
                    <input style="width: 97%" data-bind="value: action"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('command') }}</label>
                <div class="controls">
                    <input style="width: 97%" data-bind="value: command"></input>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><input type="checkbox" data-bind="checked: $root.useConfirm"></input>{{ _('Use Confirmation') }}</label>
            </div>
            <!-- ko if: $root.useConfirm() -->
            <div class="control-group">
                <label class="control-label">{{ _('Message') }}</label>
                <div class="controls">
                    <input style="width: 97%" data-bind="value: confirm"></input>
                </div>
            </div>
            <!-- /ko -->
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ _('Confirm') }}</a>
    </div>
</div>