<div id="systemCommandEditorDialog" class="modal hide">
    <form id="systemCommandEditorDialogForm" class="form-horizontal" data-bind="with: element">
        <div class="modal-header">
            <h3 data-bind="text: $root.title"></h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for=name">{{ _('Name') }}</label>
                <div class="controls">
                    <input type="text" id="systemCommandEditorDialog_Name" class="required" style="width: 97%" data-bind="value: name" placeholder="Example: Shutdown"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="action">{{ _('Action') }}</label>
                <div class="controls">
                    <input type="text" id="systemCommandEditorDialog_Action" class="required" style="width: 97%" data-bind="value: action" placeholder="Example: shutdown"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="command">{{ _('Command') }}</label>
                <div class="controls">
                    <input type="text" id="systemCommandEditorDialog_Command" style="width: 97%" data-bind="value: command" placeholder="Example: sudo shutdown -h now"></input>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><input type="checkbox" data-bind="checked: $root.useConfirm"></input>&nbsp;{{ _('Use Confirmation') }}</label>
            </div>
            <!-- ko if: $root.useConfirm() -->
            <div class="control-group">
                <label class="control-label">{{ _('Message') }}</label>
                <div class="controls">
                    <input style="width: 97%" data-bind="value: confirm" placeholder="Example: You are about to take the following action."></input>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">{{ _('Cancel') }}</button>
            <button type="submit" class="btn btn-primary">{{ _('Confirm') }}</button>
        </div>
    </form>
</div>